/* IssueDropZone */
@import "AuiVariables.less";
@import "DndVariables.less";

.issue-drop-zone {
  border: 1px dashed @adg-color-ash-gray;
  border-radius: 0px;
  padding: 7px;
  transition: background-color 0.01s linear 0.01s;
  position: relative;

  &:not(.mod-content) {
    text-align: center;
  }

  &.issue-drop-zone__not-supported {
    text-align: left;
  }

  &.dragover,
  &-document__dragover & {
    background-color: @adg-color-light-gray;
  }

}

.issue-drop-zone__target {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.issue-drop-zone__drop-icon {
  position: relative;

  &:before {
    background-image: inlineimage("images/drop-icon.svg");
    background-position: 0 0;
    width: 24px;
    height: 21px;
    position: absolute;
    margin-left: -31px;
    display: inline-block;
    content: " ";
  }
}

.issue-drop-zone.dragover .issue-drop-zone__drop-icon:before {
  background-image: inlineimage("images/drop-icon-hover.svg");
}

.issue-drop-zone__text {
  text-align: center;
  display: block;
}

.issue-drop-zone__button {
  position: relative;
  cursor: pointer;
  color: @adg-color-bright-blue-1;
  background: transparent;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
}

// Make sure to override aui form label colours
form label.issue-drop-zone__button {
  color: @adg-color-bright-blue-1;
}

.issue-drop-zone__button:hover,
.issue-drop-zone__button:focus {
  text-decoration: underline;
}

.issue-drop-zone__file {
  display: none;
}

/* upload-progress-bar */

.upload-progress-bar {
  position: relative;
  padding-left: 42px;
  padding-right: 42px;
  margin-top: 15px;

  .upload-progress-bar__thumbnail {
    border: 1px solid @adg-color-ash-gray;
    width: 33px;
    height: 33px;
    box-sizing: border-box;
    overflow: hidden;

    position: absolute;
    left: 0px;
  }

  .upload-progress-bar__thumbnail_icon_aui {
    border: none;
    width: 34px;
    height: 34px;

    .aui-icon:before {
      color: #707070;
    }
  }

  .upload-progress-bar__thumbnail img {
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
  }

  .upload-progress-bar__file-name {
    color: #333;
    height: 25px;
    display: block;
    margin-right: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .upload-progress-bar__file-size {
    position: absolute;
    right: 42px;
    top: 0px;
    color: @adg-color-gray;
    box-shadow: -5px 0px 10px white;
  }

  .upload-progress-bar__control {
    position: absolute;
    right: 0px;
    top: 15px;
  }

  .upload-progress-bar__control button {
    height: 24px;
    padding: 0 !important;
    width: 26px;
    transition: color 0.1s linear;
  }

  .upload-progress-bar__control button .aui-icon {
    margin-right: 0px !important;
  }

  .upload-progress-bar__upload-finished:not(.upload-progress-bar__upload-ready) .upload-progress-bar__control button {
    color: @adg-color-green;
  }

  /* upload-progress-bar__progress-bar */

  .upload-progress-bar__progress-bar {
    height: 5px;
    background: @adg-color-ash-gray;
    display: block;
    border-radius: 3px;

    .upload-progress-bar__bar {
      background: @adg-color-bright-blue-1;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
      height: 100%;
      display: block;
      width: 0%;
      transition: width 0.1s linear;
    }
  }

  .upload-progress-bar-statuses(false, false);

  /* upload-progress-bar__error-message */

  .upload-progress-bar__error-message {
    color: @adg-color-red;
    margin-top: 0px;
  }

  .upload-progress-bar__upload-error .upload-progress-bar__error-message {
    margin-top: 5px;
  }


}

.upload-progress-bar__checkbox {
  display: none;
  visibility: hidden;
}

/* upload progress bar statuses */

.upload-progress-bar-statuses(@hideFinished, @hideFileSize) {

  &.upload-progress-bar__upload-finished:not(.upload-progress-bar__upload-ready) .upload-progress-bar__bar {
    transition: none;
  }

  &.upload-progress-bar__upload-finished .upload-progress-bar__bar {
    background: @adg-color-green;
  }

  &.upload-progress-bar__upload-error .upload-progress-bar__bar {
    background: @adg-color-red;
  }

  &.upload-progress-bar__upload-finished when (@hideFinished = true) {
    .upload-progress-bar__progress-bar {
      display: none;
    }

    .upload-progress-bar__file-size when(@hideFileSize = false) {
      display: block;
    }

    .upload-progress-bar__file-size when(@hideFileSize = true) {
      display: none;
    }
  }

  &:not(.upload-progress-bar__upload-finished) when (@hideFinished = true) {
    .upload-progress-bar__progress-bar {
      display: block;
    }

    .upload-progress-bar__file-size when (@hideFileSize = true) {
      display: none;
    }
  }

}

/* attachments-upload-progress-bar file list */

#file_attachments .attachments-upload-progress-bar {
  .upload-progress-bar__progress-bar {
    min-width: 100%;
    display: inline-block !important;

    .upload-progress-bar .upload-progress-bar__progress-bar
  }

  .upload-progress-bar-statuses(true, true);

  .upload-progress-bar__control {
    .icon {
      cursor: pointer;
    }
  }

  /* upload-progress-bar__error-message */

  .upload-progress-bar__error-message {
    color: @adg-color-red;
    margin-top: 0px;
  }

  .upload-progress-bar__upload-error .upload-progress-bar__error-message {
    margin-top: 5px;
  }

  .upload-progress-bar__upload-control {
    span {
      color: @adg-color-bright-blue-1;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .attachment-date {
    display: none;
    visibility: hidden;
  }
}

/* attachments-upload-progress-bar with thumbnails */

#attachment_thumbnails .attachments-upload-progress-bar {
  border: none;
  border-radius: 3px;
  height: 195px;
  width: 200px;
  padding: 0px;
  margin: 0 15px 15px 0;
  float: left;
  text-align: left;

  .navigator-body & {
    margin: 0 10px 10px 0;
  }

  .upload-progress-bar__thumbnail {
    float: none;
    height: 145px;
    margin: 0 auto;
    width: 200px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;

    border: 1px solid #f0f0f0;
    border-radius: 3px;


    img {
      vertical-align: text-top;
      max-width: 200px;
      max-height: 145px;
    }
  }

  .upload-progress-bar__progress-bar {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 15px;


    .upload-progress-bar .upload-progress-bar__progress-bar
  }

  .upload-progress-bar-statuses(true, true);

  dl {
    clear: left;
    display: block;
    height: 42px;
    overflow: hidden;
    margin: 5px 10px;
    width: 180px;

    dt {
      position: relative;
      text-align: left;
      float: left;

      .upload-progress-bar__file-name {
        display: block;
        float: none;
        height: 21px;
        white-space: nowrap;
        width: 180px;
        word-wrap: normal;
      }

      .upload-progress-bar__control {
        position: absolute;
        left: auto;
        right: 0;
        bottom: 0;
        padding: 0;
        margin: 0;
        background-color: #f0f0f0;

        .icon {
          cursor: pointer;
        }
      }
    }

    .upload-progress-bar__file-size {
      float: right;
      margin: 0;
      width: auto;
      font-size: 12px;

      color: @adg-color-medium-gray;
    }

    .attachment-date {
      display: none;
      visibility: hidden;
    }

    .upload-progress-bar__upload-control {
      margin-left: 0px;

      span {
        color: @adg-color-bright-blue-1;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }

  &:hover {
    background-color: #f0f0f0;
  }

  &:not(:hover) .upload-progress-bar__control {
    visibility: hidden;
  }

  /* attachments section fix */
  + .item-attachments {
    clear: left;
  }

  /* upload-progress-bar__error-message */

  .upload-progress-bar__error-message {
    color: @adg-color-red;
    margin-top: 0px;
  }

  .upload-progress-bar__upload-error .upload-progress-bar__error-message {
    margin-top: 5px;
  }
}

/* Dialog content fix */

.jira-dialog-content form.aui .issue-drop-zone,
.jira-dialog-content form.aui .upload-progress-bar {
  box-sizing: border-box;
  max-width: 500px;
}

/* AttachFilesDropZone */

.attach-files-drop-zone__dragover-mask {
  background: rgba(255, 255, 255, @dropzone-mask-opacity);
  border: @dropzone-border-width dashed @adg-color-orange;
  border-radius: @dropzone-border-radius;
  bottom: 0;
  left: 0;
  margin: @dropzone-border-margin;
  position: absolute;
  right: 0;
  top: 0;
  transition: z-index 0.2s step-end;
  z-index: -1;
}

.attach-files-drop-zone__dragover .attach-files-drop-zone__dragover-mask {
  transition: z-index 0s step-end;
  z-index: 2500;
}

/* fix for create issue form (dialog) */

.jira-dialog .attach-files-drop-zone__dragover-mask {
  top: 56px;
  bottom: 51px;
}

/* fixes for attachment module dialogs */

#attachmentmodule .mod-content.issue-drop-zone {
  margin-left: 10px;

  // when there is attachment list below, give some margin, equal to the one from top
  >.issue-drop-zone+#attachment_thumbnails:not(:empty),
  >.issue-drop-zone+#file_attachments:not(:empty) {
    margin-top: 5px;
  }
}

#attachmentmodule .mod-content.issue-drop-zone .issue-drop-zone {
  border: none;
}

#attachmentmodule {
  #attachmentmodule_heading .ops {
    li #add-attachments-link {
      display: none;
      visibility: hidden;
    }

    li.drop:last-child {
      border: none;
      margin-left: 0;
    }
  }

  /* attachments revamp */
  #attachment_thumbnails .attachment-content {
    border: none;
    border-radius: 3px;
    height: 195px;
    margin: 0 15px 15px 0;

    .navigator-body & {
      margin: 0 10px 10px 0;
    }

    padding: 0px;

    .attachment-thumb {
      border: 1px solid @adg-color-silver;
      border-radius: 3px;

      .gallery, & {
        height: 145px;
      }

      img {
        max-height: 145px;
      }
    }

    .attachment-thumbnail-icon:before {
      color: @adg-color-silver;
    }

    dl {
      margin: 5px 10px;
      width: 180px;

      .attachment-title {
        width: 180px;
      }

      .attachment-size, .attachment-date {
        color: @adg-color-medium-gray;
        font-size: 12px;
        top: 0px;
      }

      .attachment-date {
        float: left;
        padding-left: 0px;
      }

      .attachment-size {
        float: right;
      }
    }
  }

  #file_attachments .attachment-content {
    padding: 5px 0px 5px 20px;

    dl {
      .attachment-size, .attachment-date {
        text-align: left;
      }
    }

    .upload-progress-bar__upload-control {
      width: 150px;
      text-align: left;
      padding: 0 5px;
      box-sizing: border-box;
      margin-right: 50px;
    }

    .attachment-date {
      width: 140px;
    }

    .attachment-size {
      color: @adg-color-medium-gray;
      margin-right: 40px;
      width: 140px;
    }

    .attachment-delete {
      padding-left: 0px;
      width: 50px;
      text-align: center;
    }

    .zip-contents {
      padding-right: 160px;

      .attachment-size {
        color: #bbbbbb;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid @adg-color-ash-gray;
    }
  }
}

/* fix for attachment title blender */

.issue-drop-zone-document__dragover .blender,
.issue-drop-zone.dragover .blender {
  opacity: 0;
}

/* fix for attachment thumb background during dragover */

.issue-drop-zone-document__dragover .attachment-thumb,
.issue-drop-zone.dragover .attachment-thumb {
  background: white;
}


/* fix for field description if there is any */

.jira-dialog .upload-progress-bar ~ .description {
  margin-top: 15px;
}